Pods/Pods.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
VarkaAPP.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
VarkaAPP.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
